= form_for([:admin, @user]) do |f|
  .form-group
    = f.label :role
    %br/
    = f.select :role, options_for_select(User.uniq.pluck(:role), @user.role)
  .form-group
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .form-group
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .form-group
    = f.label :email
    %br/      
    = f.text_field :email
  .form-group
    = f.submit class: 'btn btn-default'