= form_for([:admin, @course]) do |f|
  .form-group
    = f.label :name
    %br/
    = f.text_field :name
  .form-group
    = f.label :category
    %br/
    = f.text_field :category
  .form-group
    = f.label :description
    %br/
    = f.text_area :description
  .form-group
    = f.label :min_attendees
    %br/
    = f.text_field :min_attendees
  .form-group
    = f.label :max_attendees
    %br/
    = f.text_field :max_attendees
  .form-group
    = f.label :start_time
    %br/
    = f.time_select :start_time 
  .form-group
    = f.label :end_time
    %br/
    = f.time_select :end_time
  .form-group
    = f.label :start_date
    %br/
    = f.date_select :start_date  
  .form-group
    = f.label :end_date
    %br/
    = f.date_select :end_date  
  .form-group
    = f.label :price
    %br/
    £
    = f.number_field :price
  .form-group
    = f.label :producer_id
    %br/
    = f.select :producer_id, options_from_collection_for_select(User.producers, 'id', 'full_name')
  .form-group
    = f.label :lead_instructor_id
    %br/
    = f.select :lead_instructor_id, options_from_collection_for_select(User.instructors, 'id', 'full_name')
  .form-group
    = f.label :room_id
    %br/
    = f.select :room_id, options_from_collection_for_select(Room.all, 'id', 'name')
  .form-group
    = f.submit  class: "btn btn-default" 